@import url(styles.css);

main {
    z-index: 5;
    position: absolute;
    max-height: 100vh;
    width: 53vw;
    top: 0;
    right: 7vw;
    padding-bottom: 5vh;
    background-color: var(--col0);
    font-family: "IMB Plex Mono", monospace;
    font-size: 16px;
    border-style: solid;
    border-width: 0 0 2vh 0;
    border-image: linear-gradient(to right, var(--col3) 33%, var(--col4) 33%, var(--col4) 66%, var(--col5) 66%) 1;
    overflow: scroll;
    scrollbar-color: var(--col4) var(--col0);
    overflow-x: hidden;
}

.page {
    width: 100%;
    height: auto;
    top: 0;
    left: -100vw;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    position: static;
}

.page:target {
    left: 0vw;
    z-index: 2;
}


h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 3vh;
    font-weight: 700;
    font-family: "Space Mono";
}

h2 {
    font-size: 3vh;
    margin-top: 0;
    margin-left: 0vw;
    text-align: left;
    padding-left: 4vw;
    border-bottom: 5px var(--col3) solid;
    border-left: 1vw var(--col5) solid;
    background-color: var(--col4);
    width: fit-content;
    margin-right: auto;
    padding-right: 5vw;
}

h3 {
    border-left: 1vw solid var(--col5);
    padding-left: 1vw;
    font-size: 2em;
    padding-right: 1vw;
    background-color: var(--col6);
    width: fit-content;
    margin-top: 2vh;
}


ul,
ol {
    border-top: 5px var(--col3) solid;
    border-right: 5px var(--col5) solid;
    border-bottom: 5px var(--col0) solid;
    border-left: 5px var(--col0) solid;
    padding-right: 10px;
    list-style-position: outside;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 2vh;
    background-color: var(--col6);
    max-width: 40vw;
    width: fit-content;
    margin-right: 2vw;
}


li {
    margin-bottom: 0.5rem;
    text-align: right;
    font-weight: 600;
    color: var(--col5);
    width: inherit;
    list-style-type: decimal-leading-zero;

}

ul li {
    list-style-type: square;
}

li p {
    width: inherit !important;
    color: var(--col2f);
}

p {
    color: #000;
    line-height: 2.702vh;
    min-width: fit-content;
    font-weight: 100;
    margin-left: 2vw;
    margin-right: 2vw;
}

a, a::after{
    color: var(--col1);
    text-decoration: none;
}

.text a, .text a::after {
    color: var(--col4);
}


tr:nth-child(even) {
    background-color: var(--col6);
}

tr {
    background-color: var(--col0);
    border-top: 2px var(--col2f) solid;
    border-right: 5px var(--col5) solid;
}

td {
    /* border-left: 3px var(--col2f) solid;*/
    border-right: 3px var(--col0) solid;
    border-left: 5px var(--col0) solid;
}



tr th {
    background-color: var(--col4);
    border-bottom: 4px var(--col5) solid;
}

table {
    margin: 0 auto;
    font-size: 120%;
    background-color: var(--col0);
    border-collapse: separate;
    border-top: 5px var(--col4) solid;
    border-spacing: 0;
    width: fit-content;
    min-width: 20vw;
    border-right: 5px var(--col5) solid;
    border-bottom: 5px transparent solid;
}

img {
    margin-right: 2vw;
    margin-left: 2vw;
    width: auto;
    max-width: 90%;
    max-height: 50vh;
}

.img-col {
    flex: 100%;
    max-width: 33%;
    padding: 0 0px;
}

.img-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/*
.img-col img:hover {
    transition: transform .2s;
    transform: scale(2);
    z-index: 3;
    height: auto;
    max-width: 50%;
}
*/
.img-row {
    display: flex;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
}

.misc {
    max-width: 50%;
    height: auto !important;
    flex: 50%;
}

hr {
    border: none;
    height: 10vh;
}